*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--font-2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  form{
    color: var(--white);
    padding: 4rem;
    font-size: 15px;
}

.createPost{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    box-shadow: 0 1px 2px 1px white, 0 1px 2px 0 ;
    gap: 10px;
}


/* PostWrittingCard  icon */
.createPost .icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color:#b9b7b7;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
}


/* PostWrittingCard  input */

.createPost input {
    background: #F0F2F5;
    border: none;
    border-radius: 80px;
    margin: 8px auto;
    margin-top: 20px;
    outline-style:none;
    outline: none;
}

input[type="submit"] {
    width: 10rem;
    height: 40px;
    font-size: 20px;
    margin-top: 25px;
}
.createPost .submit{
    padding-left: 30px;
}
input[type="text"] {
    width: 30rem;
    height: 50px;
    font-size: 20px;
    padding: 8px 12px;
}

